{% extends "base.html" %}
{% load static %}



{% block 'topo' %}
    <a href="/novojazigo" class="btn btn-warning btn-lg disabled" tabindex="-1" role="button" aria-disabled="true"><i class="material-icons">&#xE147;</i> <span>Novo Jazigo</span></a>
    <a href="/admin" class="btn btn-warning btn-lg" role="button"><i class="material-icons">&#xE147;</i> <span>Área do Adminstrador</span></a>
    <a href="/" class="btn btn-warning btn-lg" role="button"><i class="material-icons custom">list</i> <span>Listar Jazigos</span></a>

    <!--<a href="/admin" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Cadastrar Novo Jazigo</span></a>
    <a href="/admin" class="btn btn-primary" data-toggle="modal"><i class="material-icons custom">list</i> <span>Listar Jazigos</span></a>
    <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Deletar Jazigo(s) Selecionados</span></a>						-->  
{% endblock %}

{% block 'header' %}
    <h4 class="fw-bolder">Cadastrar novo jazigo</h4>
    <h5>Nesta Tela você pode cadastrar o Jazigo suas Sepulturas, os Sepultados e o Concessionário.</h5>
    <a class="btn btn-info" href="/admin">Faça Login</a>

{% endblock %}  

{% block 'dashboard' %}
<div class="py-5">
    <div class="row">
        <div class="col-12">
                <h2>Cadastrar Novo Jazigo</h2>
            <form method="post" novalidate class="form-control">
                {%csrf_token %}
                
                <div class="col-md">
                    <label for="{{ form.identificacao_jazigo.id_for_label }}">Jazigo: </label>
                    {{ form.identificacao_jazigo }}
                    <a href="{% url 'nova_sepultura' %}"><i class="material-icons">&#xE147;</i></a>
                </div>
                
                <div class="col-md">
                    <label for="{{ form.capacidade_urnas.id_for_label }}">Capacidade de Urnas: </label>
                    {{ form.capacidade_urnas }}
                </div>

                <div class="col-md">
                    <label for="{{ form.nome_concessionaro.id_for_label }}">Nome do Concessionário </label>
                    {{ form.nome_concessionaro }}
                    <a href="{% url 'novo_concessionario' %}"><i class="material-icons">&#xE147;</i></a>
                </div>
                <div class="col-md">
                    <label for="{{ form.jazigo_privado_publico.id_for_label }}">Privado ou Público </label>
                    {{ form.jazigo_privado_publico }}
                </div>
                <div class="col-md">
                    <label for="{{ form.nome_sepultado.id_for_label }}">Nome do Sepultado </label>
                    {{ form.nome_sepultado }}
                    <a href="{% url 'novo_sepultado' %}"><i class="material-icons">&#xE147;</i></a>
                </div>
                <div class="col-md">
                    <label for="{{ form.observacao.id_for_label }}">Observações </label>
                    {{ form.observacao }}
                </div>
                <div class="form-buttons">
                    <input type="submit" value="Cadastrar" class="btn btn-primary"/>
                    <a href="{% url 'novo_jazigo' %}" class="btn btn-outline">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}